<!DOCTYPE html>
<html>
  <head>
    <title>Requests</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="topnav">
      <a href="/">Home</a>
      <a href="/offers">Search Pokemon</a>
      <a class="active" href="/requests">Request Trade</a>
      <% if (user) { %>
        <a href="/logout">LOG OUT</a>
      <% } else { %>
        <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
      <% } %>
    </div>
    <h1>Requests</h1>

    <% if (user) { %> 
      <a href="../requests/new">Request a Pokemon</a>
    <% } else { %> 
        <td>You must log in to make a request</td>
    <% } %> 

    <table>
      <thead>
        <tr>
          <th>Pokemon</th>
          <th></th>
          <th>User</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>
        <% requests.forEach(function(r) { %>
          <tr>
            <td><%= r.pokemonRequest %></td>
            <td><img src='<%= `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/${r.pokemonId}.png` %>'></td>
            <td><%= r.gameUserName %></td>
            <% if (user) { %> 
              <td><a href="/requests/<%= r._id %>">Details</a></td>
            <% } else { %> 
                <td>You must log in to view details</td>
            <% } %> 
            
          </tr>
          <% }); %>
        </tbody>
      </table>


  </body>
</html>
