<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="topnav">
      <a class="active" href="../">Home</a>
      <a href="pokemons/index">Search Pokemon</a>
      <a href="pokemons/new">Request Trade</a>
    </div>
    <h1><%= title %></h1>
    <p>Here you can search a pokemon you are looking for!</p>
    <p>Someone out there may be trying to trade a pokemon you want.</p>
    <p>Or maybe you want to add a pokemon that you are willing to trade.</p>
    <p>You can coordinate the trades with someone and get your desired pokemon!</p>
  </body>
</html>
