<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://unpkg.com/pokeapi-js-wrapper/dist/index.js"></script>
  </head>
  <body>
    <div class="topnav">
      <a class="active" href="../">Home</a>
      <a href="pokemons/index">Search Pokemon</a>
      <a href="pokemons/new">Request Trade</a>
    </div>
    <h1><%= title %></h1>
    <p>Here you can search a pokemon you are looking for!</p>
    <p>Someone out there may be trying to trade a pokemon you want.</p>
    <p>Or maybe you want to add a pokemon that you are willing to trade.</p>
    <p>You can coordinate the trades with someone and get your desired pokemon!</p>
  </body>
</html>
